<div class="header">
  <div class="left">
    <%= link_to "About", "about", class:"left-item" %>
    <%= link_to "Clients", "clients", class:"left-item" %>
    <%= link_to "Projects", "projects", class:"left-item" %>
  </div>
  <div class="center">
    <%= link_to "Sophie IANIRO", "index", class:"center-item" %>
  </div>
  <div class="right">
    <%= link_to "Blog", "https://prosa.fr", class:"right-item", target:"_blank" %>
    <%= link_to "Medium", "https://medium.com/@Sophia_niro", class:"right-item", target:"_blank" %>
    <%= link_to "Contact", "contact", class:"right-item" %>
  </div>
</div>
