<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115764305-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115764305-1');
    </script>

    <!-- Meta properties -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Sophie Ianiro - Content marketing freelance</title>
    <meta name="description" content="En tant que freelance j'aide les startups à créer ou développer leur stratégie de contenu marketing">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Sophie Ianiro - Content Marketing Freelance" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sophieianiro.com/" />
    <meta property="og:image" content="http://res.cloudinary.com/alexispip/image/upload/c_crop,h_630,w_1200/v1522234375/illustration-Sophie.svg" />
    <meta property="og:description" content="En tant que freelance j'aide les startups à créer ou développer leur stratégie de contenu marketing" />
    <meta property="og:site_name" content="Sophie Ianiro - Content Marketing Freelance" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@Sophia_niro">
    <meta name="twitter:title" content="Sophie Ianiro - Content Marketing Freelance">
    <meta name="twitter:description" content="En tant que freelance j'aide les startups à créer ou développer leur stratégie de contenu marketing">
    <meta name="twitter:creator" content="@Sophia_niro">
    <meta name="twitter:image:src" content="http://res.cloudinary.com/alexispip/image/upload/c_crop,h_630,w_1200/v1522234375/illustration-Sophie.svg">

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.ico' %>
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div class="layout">
      <div class="container">
        <%= partial "layouts/navbar" %>
        <div class="container-inner">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
