<div id="work">
  <div class="work-content">
    <h1>
      WORK
    </h1>
    <div class="content-desc">
      <p>
        J'ai eu l'occasion de collaborer avec plusieurs startups sur leur projet de création de contenu et de stratégie d'inbound marketing.
      </p>
      <div class="startups-logo">
        <div class="row">
          <div class="col-xs-6 col-md-4">
            <a href="https://www.abtasty.com", target="_blank">
              <%= image_tag "https://www.abtasty.com/content/uploads/logo-abtasty.png", width:"150px"%>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="https://www.hellocomet.co", target="_blank">
              <%= image_tag "http://www.startupbegins.com/wp-content/uploads/2017/10/default_logo_comet.png", width:"150px"%>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="https://www.shine.fr", target="_blank">
              <%= image_tag "http://www.itespresso.fr/wp-content/uploads/2017/07/shine-logo.jpg", width:"150px"%>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="https://www.alan.eu", target="_blank">
              <%= image_tag "https://alan.eu/static/compiled/simple_logo_color.4c99a2c6d19011fa87cabac9e5988460.svg", width:"150px", style:"margin-top: 40px;"%>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="https://www.uptilab.com", target="_blank">
              <%= image_tag "https://pbs.twimg.com/media/C_3s9hoXkAUQrUx.png", width:"150px", style:"margin-top: 40px;"%>
            </a>
          </div>
          <div class="col-xs-6 col-md-4">
            <a href="https://www.shapr.co", target="_blank">
              <%= image_tag "https://widoobizweb.s3.amazonaws.com/wp-content/uploads/2015/02/shapr.png", width:"150px", style:"margin-top: 40px;"%>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
